@font-face {
    font-family: minecraftEnchanting;
    src: url('minecraft-enchantment.ttf');
}
html,body {
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #000;
}


/*
html { height: 100%; }

body { 
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 { font-size: 20vw; }

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, rgb(0, 0, 255) 20%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 60%, rgb(0, 4, 255) 80%);
  background-size: 200% auto;
  
  color: rgb(75, 75, 75);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
*/
@font-face {
    font-family: SourceCodePro-Bold;
    src: url('SourceCodePro-Bold.ttf');
}
@font-face {
    font-family: SourceCodePro-Regular;
    src: url('SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: SourceCodePro-SemiBold;
    src: url('SourceCodePro-SemiBold.ttf');
}

#section-title {
    color: #FFF;
    margin: 0;
    font-family: SourceCodePro-Bold;
    font-size: 3rem;
    text-align: center;
}
#master {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#section {
    margin: 20px;
}
.header {
	font-family: Roboto Mono;
	font-size: 6rem;
	font-weight:  100;
	letter-spacing: 2px;
	text-align: center;
	color: #FFFFFF;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

button {
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid;
    font: SourceCodePro-Regular;
    font-size: 1em;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
  }


.raise:hover, .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ffFFFF;
    transform: translateY(-0.25em);
  }
  button {
    color: #ffffff;
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: #ffffff;
    color: #ffffff;
  }
